/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* for small device*/
@media only screen and (max-width: 576px) {
    .slide-caption {
      margin-top: 100px;
    }
    .slide-caption h2{
        font-size: 15px;
    }
    .slide-caption p{
        font-size: 10px;
    }
    .slide-caption button{
        font-size: 10px;
        padding: 0;
    }
  }